#font-list {
    font-size: 10px;
    margin-left: 0;
    padding-left: 10px;
}
body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    background-color: #333;
    color: #888;
    font-size: 14px;
}
hr, .page-header {
    border-color: #555;
}
.bs3-loader {
    font-size: 14px;
}
hr {
    opacity: 0.5;
}
h1 {
    font-size: 70px;
}
.intro {
    margin-bottom: 60px;
}
.section {
    font-size: 22px;
    padding: 80px 20px;
    border-bottom: 10px solid black;
}
.lead {
    text-transform: uppercase;
    font-size: 12px;
}
.btn-lg {
    border-bottom-width: 6px;
}
.btn-md {
    border-bottom-width: 4px;
}
.btn-sm {
    border-bottom-width: 2px;
}
.btn-xs {
    border-bottom-width: 1px;
}
.centered {
    text-align: center;
}
.fa {
    text-align: center;
}
.btn .fa {
    margin-right: 10px;
}
.big-icon {
    margin: 0 auto;
    display: block;
    padding: 20px;
    padding: 30px 0;
    font-size: 300px;
}
.list-plain {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.mobile-message {
    padding: 20px;
}
.container-padded {
    padding: 20px;
}
input {
    margin: 2px 0;
}
#controls {
    max-height: 100%;
    max-width: 260px;
    width: 100%;
    position: fixed;
    overflow: scroll;
    padding-bottom: 100px;
    padding-right: 10px;
}
#controls p {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
}
#controls .btn {
    margin: 5px 0;
    padding: 0 8px;
}
#main-nav li {
    padding: 0 20px;
}
#footer {
    font-size: 15px;
}
#footer .list-inline a {
    text-transform: uppercase;
}
#footer.section {
    padding: 40px 10px;
}
#swappable {
    position: absolute;
    padding: 0;
    top: 1em;
    left: 5px;
    height: 100%;
    width: 10px;
    text-align: center;
    background-color: #555;
    color: #ccc;
    text-shadow: 1px 1px 2px black;
    border: none;
    text-decoration: none;
}
#swappable:hover {
    color: white;
    background-color: #222;
}
#socket {
    margin-top: 1em;
}
@media screen and (max-width: 480px) {
    .section h1 {
        font-size: 50px;
    }
    .section {
        padding: 0;
    }
}
