<a href="#" name="section1"></a>
<div class="section section-1">
    <div class="container">
        <div class="row centered intro">
            <div class="col-md-12">
                <div id="main-nav">
                    <ul class="list-inline">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Accolades</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row centered intro">
            <div class="col-md-12">
                <small class="lead">Not your mom's color scheme.</small>
                <h1>A <strong>color scheme generator</strong> as unique as your website.</h1>
                <br>
                <p class="centered"><a href="#" class="btn btn-lg btn-primary"><span class="fa fa-bolt"></span> Play with it now!</a></p>
                <br>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2> Let's talk about it some more.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quos porro reiciendis repellat dolorem nostrum nesciunt, est, debitis praesentium ab assumenda <a href="#">voluptatum impedit voluptas</a> magni repudiandae nobis atque fugiat. Natus.</p>
                <p>Atsimos odio ut, corporis libero facere. Architecto dolore iste reiciendis nihil, laboriosam sed aut nisi incidunt sunt temporibus!</p>
            </div>
            <div class="col-md-5">
                <h3>Section right subheading</h3>
                <ul>
                    <li>Foo bar bim</li>
                    <li>Bim baz quux</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
                <ul>
                    <li>Bim baz quux</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Foo bar bim</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a href="#" name="section2"></a>
<div class="section section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <small class="lead">An intro heading for stuff.</small>
                <h3>Section right subheading</h3>
                <p>Atem repellat voluptas voluptatem sed, unde voluptates totam repellendus vitae exercitationem, autem reiciendis officia corporis?</p>
                <h4>Section sub-subheading</h4>
                <p>Atsimos odio ut, <a href="#">corporis libero facere</a>. Architecto dolore iste reiciendis nihil, laboriosam sed aut nisi incidunt sunt temporibus!</p>
            </div>
            <div class="col-md-7">
                <h2>Section heading</h2>
                <p>Lorem ipsum dolor sit amet, <code>consectetur adipisicing elit</code>. Voluptatibus libero iste earum, ad beatae in error vel pariatur perferendis ducimus quasi dicta tempore molestiae ipsum repudiandae asperiores ab iure totam!</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Foo bar bim</li>
                            <li>Bim baz quux</li>
                            <li>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Bim baz quux</li>
                            <li>Lorem ipsum <a href="#">dolor sit</a> amet</li>
                            <li>Foo bar bim</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="centered"><a href="#" class="btn btn-lg btn-primary">Click time!</a></p>
            </div>
        </div>
    </div>
</div>

<a href="#" name="section3"></a>
<div class="section section-3">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <small class="lead">An intro heading for stuff.</small>
                <h2>Section heading</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Foo bar bim</li>
                            <li>Bim baz quux</li>
                            <li>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Bim baz quux</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li><a href="#">Foo bar</a> bim</li>
                        </ul>
                    </div>
                </div>
                <h3>Section right subheading</h3>
                <p>Atsimos odio ut, corporis libero facere. Architecto dolore iste reiciendis nihil, <a href="#">laboriosam sed aut</a> nisi incidunt sunt temporibus!</p>
                <hr>
                <p class="centered"><a href="#" class="btn btn-md btn-default">Button!</a> or, <a href="#" class="btn btn-md btn-primary">Other button!</a></p>
            </div>
            <div class="col-md-5">
                <div class="big-icon lead fa fa-taxi"></div>
            </div>
        </div>
    </div>
</div>

<a href="#" name="section4"></a>
<div class="section section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5 centered">
                <div class="big-icon lead fa fa-bicycle"></div>
                <p class="btn-group">
                    <a href="#" class="btn btn-md btn-primary"><span class="fa fa-cloud-download"></span> Try it now!</a>
                    <a href="#" class="btn btn-md btn-primary"><span class="fa fa-thumbs-up"></span> Tell a friend</a>
                    <a href="#" class="btn btn-md btn-primary"><span class="fa fa-chevron-circle-down"></span> Download info</a>
                </p>
            </div>
            <div class="col-md-7">
                <small class="lead">An intro heading for stuff.</small>
                <h2>Section heading</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Foo bar bim</li>
                            <li>Bim baz quux</li>
                            <li>Lorem <a href="#">ipsum dolor</a> sit amet</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Bim baz quux</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Foo bar bim</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <form action="" method="POST" class="centered form-inline" role="form">
                            <div class="form-group">
                                <label>
                                    Here is a cool form, sign-up! &nbsp;&nbsp;&nbsp;
                                    <input type="email" class="form-control" id="" placeholder="Input field">
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <hr>
                    </div>
                </div>
                <h3>Section right subheading</h3>
                <p>Atsimos odio ut, <a href="#">corporis libero facere</a>. Architecto dolore iste reiciendis nihil, laboriosam sed aut nisi incidunt sunt temporibus!</p>
            </div>
        </div>
    </div>
</div>

<a href="#" name="section5"></a>
<div class="section section-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <small class="lead">An intro heading for stuff.</small>
                <h2>Section heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ullam minima aliquid vel quia assumenda, libero expedita quis molestias! Commodi mollitia iste a earum libero nobis delectus corporis magnam, repellat?</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>Bim baz quux</li>
                            <li>Far boo bim</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Foo bar bim</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Bim baz quux</li>
                            <li><a href="#">Lorem ipsum dolor</a> sit amet</li>
                            <li>Quux bar baz bim</li>
                            <li>Foo bar bim</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <small class="lead">An intro heading for stuff.</small>
                <h3>Section right subheading</h3>
                <p>Atsimos odio ut, corporis libero facere. <a href="#">Architecto dolore iste</a> reiciendis nihil, laboriosam sed aut nisi incidunt sunt temporibus!</p>
                <h4>Section sub-subheading</h4>
                <p>Atsimos odio ut, corporis libero facere. Architecto dolore iste reiciendis nihil, laboriosam sed aut nisi incidunt sunt temporibus!</p>
            </div>
        </div>
        <div class="row">
            <div class="centered col-md-12">
                <br>
                <p><em>Cheers,</em></p>
                <p><a href="#" class="btn btn-lg btn-primary">Click the last button!</a></p>
            </div>
        </div>
    </div>
</div>

<a href="#" name="section5"></a>
<div class="section section-2" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Accolades</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li class="pull-right">
                        Copyright &copy; Chris Tabor 2015
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
