  <div class="jPanelMenu-panel" style="position: relative; right: 0px;"><div id="mobile-nav" class="mobile-nav hide">
    <a href="#" class="mobile-nav-close js-toggle-mobile-nav">
      <i class="ss-icon ss-gizmo ss-delete"></i>
    </a>
    <div class="mobile-nav-primary"><ul id="menu-mobile-primary-menu" class="menu"><li id="menu-item-2349" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2349"><a href="/">Home</a></li>
      <li id="menu-item-2350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2350"><a href="https://www.getdonedone.com/features/">Features</a></li>
      <li id="menu-item-2356" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2102 current_page_item menu-item-2356"><a href="https://www.getdonedone.com/public-issues/">Public Issues</a></li>
      <li id="menu-item-2352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2352"><a href="https://www.getdonedone.com/plans-pricing/">Pricing</a></li>
      <li id="menu-item-2835" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2835"><a href="https://donedone.happyfox.com" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://donedone.happyfox.com', 'Documentation');">Documentation</a></li>
      <li id="menu-item-2353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2353"><a href="https://www.getdonedone.com/support/">Support</a></li>
      <li id="menu-item-2354" class="js-toggle-modal menu-item menu-item-type-custom menu-item-object-custom menu-item-2354"><a href="#sign-in">Sign In</a></li>
      <li id="menu-item-2355" class="js-toggle-modal menu-item menu-item-type-custom menu-item-object-custom menu-item-2355"><a href="#sign-up">Get it Now!</a></li>
    </ul></div> <div class="mobile-nav-secondary"><ul id="menu-mobile-secondary-menu" class="menu"><li id="menu-item-2357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2357"><a href="https://www.getdonedone.com/blog/">Blog</a></li>
    <li id="menu-item-2661" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2661"><a href="https://www.getdonedone.com/api/">API</a></li>
    <li id="menu-item-2359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2359"><a href="https://www.getdonedone.com/integrations/">Integrations</a></li>
    <li id="menu-item-2360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2360"><a href="https://www.getdonedone.com/gitsvnintegration/">Subversion &amp; Git</a></li>
    <li id="menu-item-2361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2361"><a href="https://www.getdonedone.com/whats-new/">What’s New?</a></li>
    <li id="menu-item-2362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2362"><a href="https://www.getdonedone.com/faq/">FAQs</a></li>
    <li id="menu-item-2363" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2363"><a href="/faq/#security">Security</a></li>
    <li id="menu-item-2364" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2364"><a href="http://status.getdonedone.com/423332">Status</a></li>
    <li id="menu-item-2365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2365"><a href="https://www.getdonedone.com/privacy/">Privacy</a></li>
    <li id="menu-item-2366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2366"><a href="https://www.getdonedone.com/terms/">Terms</a></li>
  </ul></div> <div class="mobile-nav-social"><ul id="menu-footer-social-menu" class="menu"><li id="menu-item-2241" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2241"><a href="mailto:support@mydonedone.com?subject=General%20Inquiry%20regarding%20DoneDone">Email</a></li>
  <li id="menu-item-2239" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2239"><a href="https://twitter.com/getdonedone" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://twitter.com/getdonedone', 'Twitter');" target="_blank">Twitter</a></li>
  <li id="menu-item-2240" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2240"><a href="https://vimeo.com/donedone" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://vimeo.com/donedone', 'Vimeo');" target="_blank">Vimeo</a></li>
  <li id="menu-item-2495" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2495"><a href="http://www.getdonedone.com/feed/">RSS</a></li>
</ul></div></div><div id="page" class="hfeed site">

<div id="skrollr-body">
  <div id="content" class="site-content">

    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">


        <div class="row">
          <div class="large-12 columns">
            <header class="main-header tall-gradient">
              <div class="row">
                <div class="large-12 columns">

                  <div class="main-header-inner">
                    <h6 class="main-subtitle">Public Issues</h6>
                    <h1 class="main-title">At long last, issue tracking meets customer support.</h1>
                    <p class="main-intro">Use DoneDone to effortlessly track feedback, questions, and issues from your customers via email. Correspond with them over email while discussing and resolving their inquiries right in DoneDone! It’s truly the best of both worlds.<br><a href="#public-issues-video" class="button teal js-toggle-lightbox">Watch Demo <i class="ss-icon ss-social-regular">Youtube</i></a></p>
                    <i class="main-header-background"></i>
                    <i class="main-header-gradient"></i>
                  </div>              </div>
                </div>
              </header><!-- .main-header -->
            </div><!-- .large-12 -->
          </div>

          <div class="row">
            <div class="main-content large-12 columns">
              <article id="post-2102">

                <div class="public-issues-overview row">
                  <div class="large-4 columns">
                    <h3>1. Customer sends an email to your support address.</h3>
                    <p><a href="/when-issue-tracking-met-customer-support">Setup is simple</a>. Use your unique DoneDone project email address, or forward messages sent to your existing company support address to it. If you have an existing contact form, send submissions directly to your unique DoneDone project email address.</p>
                    <h3>2. Support emails instantly become tracked issues in DoneDone.</h3>
                    <p>DoneDone converts those emails into separate issues, and assigns them to team members of your choosing. For your customer base, there are no logins, complicated forms, or new tools to learn!</p>
                    <h3>3. Customers receive replies via email and respond from their inbox.</h3>
                    <p>If you want more input or explanation from the customer, just send them a reply through DoneDone. It goes right to their email inbox.</p>
                    <h3>4. Conversations with your customers are all tracked in the issue.</h3>
                    <p>Build a rapport with your customer base. Browse through previous conversations you’ve had with your customers so they always feel like they’re speaking with someone who knows them personally.</p>
                    <h3>5. Your team works on the issue internally using DoneDone’s proven workflow.</h3>
                    <p>It’s email to them…and DoneDone to you. Work on your customer’s requests with your team just like any other issue. You have the flexibility to handle all the nitty gritty technical details privately and just post an update to the customer after the issue’s been handled.</p>
                    <h3>6. Work between your team and your customer in one view.</h3>
                    <p>One managed place to work on issues, correspond with your customers, and get things done. It’s simply the best of both worlds.</p>
                  </div>
                </div>

                <div class="public-issues-team">
                  <h2>The Perfect Tool for Your Team</h2>
                  <div class="row">
                    <div class="large-6 columns">
                      <div class="public-issues-team-member">
                        <img src="https://www.getdonedone.com/wp-content/uploads/2014/01/page-public-issues-guru.png" alt="The Support Guru">
                        <h4>The Support Guru</h4>
                        <p>Easily manage your customer conversations alongside your team’s internal workflow.</p>
                      </div>
                      <div class="public-issues-team-member">
                        <img src="https://www.getdonedone.com/wp-content/uploads/2014/01/page-public-issues-developer.png" alt="The Developer">
                        <h4>The Developer</h4>
                        <p>Request technical details from customers as you need them.</p>
                      </div>
                    </div>
                    <div class="large-6 columns">
                      <div class="public-issues-team-member">
                        <img src="https://www.getdonedone.com/wp-content/uploads/2014/01/page-public-issues-manager.png" alt="The Project Manager">
                        <h4>The Project Manager</h4>
                        <p>Quickly assign customer support issues and keep track of your team’s progress.</p>
                      </div>
                      <div class="public-issues-team-member">
                        <img src="https://www.getdonedone.com/wp-content/uploads/2014/01/page-public-issues-founder.png" alt="The Founder">
                        <h4>The Founder</h4>
                        <p>Build a personal relationship with your customers as part of your issue tracking process.</p>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="#sign-up" class="button teal js-toggle-modal">Sign Up Free</a>
                  </div>
                  <i class="public-issues-team-background"></i>
                  <i class="public-issues-team-gradient"></i>
                </div>

              </article><!-- #post-## -->
            </div><!-- .main-content -->
          </div>


        </main><!-- #main -->
      </div><!-- #primary -->

      <div id="public-issues-video" class="lightbox">
        <div class="lightbox-content">
          <a href="#" class="lightbox-close js-close-lightbox">
            <i class="ss-icon ss-standard ss-delete"></i>
          </a>
          <iframe id="public-issues-player" class="vimeo" src="//player.vimeo.com/video/91972009?title=0&amp;byline=0&amp;portrait=0&amp;color=0ea5a0&amp;api=1&amp;player_id=public-issues-player" width="753" height="424" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>

    </div><!-- #content -->

    <footer id="colophon" class="site-footer dark" role="contentinfo">
      <div class="site-recent-posts row">
        <div class="large-12 columns">
          <div class="recent-posts">
            <div class="recent-post">
              <a href="https://www.getdonedone.com/an-homage-to-strict-coding/">
                <h1 class="js-ellipsis"><div>An homage to strict coding</div></h1>
                <p>by Ka Wai Cheung</p>
              </a>
            </div>
            <div class="recent-post">
              <a href="https://www.getdonedone.com/a-primer-on-delivering-a-good-presentation/">
                <h1 class="js-ellipsis"><div>A primer on delivering a good presentation</div></h1>
                <p>by Ka Wai Cheung</p>
              </a>
            </div>
            <div class="recent-post">
              <a href="https://www.getdonedone.com/the-taboo-of-burnout/">
                <h1 class="js-ellipsis"><div>The Taboo of Burnout</div></h1>
                <p>by Jeremy Kratz</p>
              </a>
            </div>
            <div class="menu-footer-social-menu-container"><ul id="menu-footer-social-menu-1" class="menu"><li class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2241"><a href="mailto:support@mydonedone.com?subject=General%20Inquiry%20regarding%20DoneDone">Email</a></li>
              <li class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2239"><a href="https://twitter.com/getdonedone" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://twitter.com/getdonedone', 'Twitter');" target="_blank">Twitter</a></li>
              <li class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2240"><a href="https://vimeo.com/donedone" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://vimeo.com/donedone', 'Vimeo');" target="_blank">Vimeo</a></li>
              <li class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2495"><a href="http://www.getdonedone.com/feed/">RSS</a></li>
            </ul></div>        </div>
          </div>
        </div>
        <div class="site-info row">
          <div class="large-8 columns">
            <nav id="footer-navigation" class="footer-navigation" role="navigation">
              <div class="menu-footer-primary-menu-container"><ul id="menu-footer-primary-menu" class="menu"><li id="menu-item-2337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2337"><a href="https://www.getdonedone.com/">Home</a></li>
                <li id="menu-item-2191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2191"><a href="https://www.getdonedone.com/features/">Features</a></li>
                <li id="menu-item-2280" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2102 current_page_item menu-item-2280"><a href="https://www.getdonedone.com/public-issues/">Public Issues</a></li>
                <li id="menu-item-2194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2194"><a href="https://www.getdonedone.com/plans-pricing/">Pricing</a></li>
                <li id="menu-item-2834" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2834"><a href="https://donedone.happyfox.com" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://donedone.happyfox.com', 'Docs');">Docs</a></li>
                <li id="menu-item-2192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2192"><a href="https://www.getdonedone.com/support/">Support</a></li>
                <li id="menu-item-2193" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2193"><a href="https://www.getdonedone.com/blog/">Blog</a></li>
                <li id="menu-item-2660" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2660"><a href="https://www.getdonedone.com/api/">API</a></li>
              </ul></div>          <div class="menu-footer-secondary-menu-container"><ul id="menu-footer-secondary-menu" class="menu"><li id="menu-item-2283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2283"><a href="https://www.getdonedone.com/integrations/">Integrations</a></li>
              <li id="menu-item-2200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2200"><a href="https://www.getdonedone.com/gitsvnintegration/">Subversion &amp; Git</a></li>
              <li id="menu-item-2203" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2203"><a href="https://www.getdonedone.com/whats-new/">What’s New?</a></li>
              <li id="menu-item-2278" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2278"><a href="https://www.getdonedone.com/faq/">FAQs</a></li>
              <li id="menu-item-2198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2198"><a href="/faq/#security">Security</a></li>
              <li id="menu-item-2199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2199"><a href="http://status.getdonedone.com/423332">Status</a></li>
              <li id="menu-item-2231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2231"><a href="https://www.getdonedone.com/privacy/">Privacy</a></li>
              <li id="menu-item-2230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2230"><a href="https://www.getdonedone.com/terms/">Terms</a></li>
            </ul></div>        </nav><!-- #footer-navigation -->
          </div>
          <div class="large-4 columns">
            <p class="footer-copyright">© 2007–2015 DoneDone, LLC. All rights reserved.</p>
          </div>
        </div><!-- .site-info -->
      </footer><!-- #colophon -->
    </div><!-- #page -->


  </div><style id="jPanelMenu-style-master">body{width:100%}.jPanelMenu,body{overflow-x:hidden}#jPanelMenu-menu{display:block;position:fixed;top:0;right:0;height:100%;z-index:-1;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch}.jPanelMenu-panel{position:static;right:0;top:0;z-index:2;width:100%;min-height:100%;background:rgb(255, 255, 255)}</style></div><div id="jPanelMenu-menu" class="mobile-nav hide" style="width: 240px; z-index: -1; display: none;">
  <a href="#" class="mobile-nav-close js-toggle-mobile-nav">
    <i class="ss-icon ss-gizmo ss-delete"></i>
  </a>
  <div class="mobile-nav-primary"><ul id="menu-mobile-primary-menu" class="menu"><li id="menu-item-2349" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2349"><a href="/">Home</a></li>
    <li id="menu-item-2350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2350"><a href="https://www.getdonedone.com/features/">Features</a></li>
    <li id="menu-item-2356" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2102 current_page_item menu-item-2356"><a href="https://www.getdonedone.com/public-issues/">Public Issues</a></li>
    <li id="menu-item-2352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2352"><a href="https://www.getdonedone.com/plans-pricing/">Pricing</a></li>
    <li id="menu-item-2835" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2835"><a href="https://donedone.happyfox.com" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://donedone.happyfox.com', 'Documentation');">Documentation</a></li>
    <li id="menu-item-2353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2353"><a href="https://www.getdonedone.com/support/">Support</a></li>
    <li id="menu-item-2354" class="js-toggle-modal menu-item menu-item-type-custom menu-item-object-custom menu-item-2354"><a href="#sign-in">Sign In</a></li>
    <li id="menu-item-2355" class="js-toggle-modal menu-item menu-item-type-custom menu-item-object-custom menu-item-2355"><a href="#sign-up">Get it Now!</a></li>
  </ul></div> <div class="mobile-nav-secondary"><ul id="menu-mobile-secondary-menu" class="menu"><li id="menu-item-2357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2357"><a href="https://www.getdonedone.com/blog/">Blog</a></li>
  <li id="menu-item-2661" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2661"><a href="https://www.getdonedone.com/api/">API</a></li>
  <li id="menu-item-2359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2359"><a href="https://www.getdonedone.com/integrations/">Integrations</a></li>
  <li id="menu-item-2360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2360"><a href="https://www.getdonedone.com/gitsvnintegration/">Subversion &amp; Git</a></li>
  <li id="menu-item-2361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2361"><a href="https://www.getdonedone.com/whats-new/">What’s New?</a></li>
  <li id="menu-item-2362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2362"><a href="https://www.getdonedone.com/faq/">FAQs</a></li>
  <li id="menu-item-2363" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2363"><a href="/faq/#security">Security</a></li>
  <li id="menu-item-2364" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2364"><a href="http://status.getdonedone.com/423332">Status</a></li>
  <li id="menu-item-2365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2365"><a href="https://www.getdonedone.com/privacy/">Privacy</a></li>
  <li id="menu-item-2366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2366"><a href="https://www.getdonedone.com/terms/">Terms</a></li>
</ul></div> <div class="mobile-nav-social"><ul id="menu-footer-social-menu" class="menu"><li id="menu-item-2241" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2241"><a href="mailto:support@mydonedone.com?subject=General%20Inquiry%20regarding%20DoneDone">Email</a></li>
<li id="menu-item-2239" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2239"><a href="https://twitter.com/getdonedone" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://twitter.com/getdonedone', 'Twitter');" target="_blank">Twitter</a></li>
<li id="menu-item-2240" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2240"><a href="https://vimeo.com/donedone" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://vimeo.com/donedone', 'Vimeo');" target="_blank">Vimeo</a></li>
<li id="menu-item-2495" class="ss-icon ss-social-circle menu-item menu-item-type-custom menu-item-object-custom menu-item-2495"><a href="http://www.getdonedone.com/feed/">RSS</a></li>
</ul></div></div>


<div id="sign-in" class="modal red">
  <a href="#" class="modal-close js-close-modal">
    <i class="ss-icon ss-standard ss-delete"></i>
  </a>
  <form id="modal-sign-in-form" class="js-sign-in-form" action="https://public.mydonedone.com/SignInJson" method="post" novalidate="" data-validate="parsley">
    <h2>Sign into DoneDone.</h2>
    <input type="text" name="username" placeholder="Username" data-required="true" data-required-message="Required" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off" class="parsley-validated">
    <input type="password" name="password" placeholder="Password" data-required="true" data-required-message="Required" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off" class="parsley-validated">
    <p class="error hide"></p>
    <label class="checkbox">
      <input type="checkbox" name="persist" value="true">
      <i class="ss-icon ss-standard ss-check"></i>
      <span>Remember me on this computer.</span>
    </label>
    <input type="hidden" value="-7" name="timezone_offset">
    <button type="submit" class="button teal" data-loading="Signing In…">Sign In</button>

    <input type="text" name="donedonedummy1" class="offscreen" autocomplete="off" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
    <input type="text" name="donedonedummy2" class="offscreen" autocomplete="off" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">

    <div class="clear"></div>
  </form>
  <footer class="modal-footer">
    <ul>
      <li>
        <a href="#sign-up" class="js-toggle-modal">Create an account</a>
      </li>
      <li>
        <a href="#forgot-password" class="js-toggle-modal">Trouble signing in?</a>
      </li>
    </ul>
  </footer>
</div>

<div id="forgot-password" class="modal teal">
  <a href="#" class="modal-close js-close-modal">
    <i class="ss-icon ss-standard ss-delete"></i>
  </a>
  <form id="modal-forgot-password-form" class="js-forgot-password-form" action="https://public.mydonedone.com/ForgotPasswordJson" method="post" novalidate="" data-validate="parsley">
    <h2>Forgot Password?</h2>
    <p>We’ll send your username and a link to reset your password.</p>
    <input type="email" name="email" placeholder="Email" data-required="true" data-required-message="Required" data-type="email" data-type-email-message="Invalid Email" class="parsley-validated">
    <p class="error hide"></p>
    <button type="submit" class="button orange" data-loading="Sending…">Submit</button>

    <input type="text" name="donedonedummy1" class="offscreen" autocomplete="off">
    <input type="text" name="donedonedummy2" class="offscreen" autocomplete="off">

    <div class="clear"></div>
  </form>
  <footer class="modal-footer">
    <ul>
      <li>
        <a href="#sign-up" class="js-toggle-modal">Create an account</a>
      </li>
      <li>
        <a href="#sign-in" class="js-toggle-modal">Sign in to your account</a>
      </li>
    </ul>
  </footer>
</div>

<div id="sign-up" class="modal purple">
  <a href="#" class="modal-close js-close-modal">
    <i class="ss-icon ss-standard ss-delete"></i>
  </a>
  <form id="modal-sign-up-form" class="js-sign-up-form" action="https://public.mydonedone.com/signup/signupjson" method="post" novalidate="" data-validate="parsley">
    <h2>Start your free 30-day trial.</h2>
    <p>Already have a DoneDone account? <a href="#sign-in" class="js-toggle-modal">Sign in</a>. <a href="#promo-code" class="js-toggle-field">Have promo code?</a></p>
    <input type="text" name="promo_code" id="promo-code" placeholder="Promo Code" class="offscreen" maxlength="40">
    <input type="text" name="name" placeholder="Your Name" data-required="true" data-required-message="Required" data-regexp="(.*) (.*)" data-regexp-message="First &amp; last name required" maxlength="100" class="parsley-validated">
    <input type="hidden" name="first_name">
    <input type="hidden" name="last_name">
    <input type="text" name="company" placeholder="Company" data-required="true" data-required-message="Required" maxlength="35" class="parsley-validated">
    <input type="email" name="email" placeholder="Email" data-required="true" data-required-message="Required" data-type="email" data-type-email-message="Invalid Email" maxlength="100" class="parsley-validated">
    <input type="text" name="domain" class="js-mydonedone-mask parsley-validated" placeholder="URL" data-required="true" data-required-message="Required" maxlength="55">
    <input type="hidden" name="domain_name">
    <div class="dk_container dk_theme_default js-first-class js-dropkick first-selected" id="dk_container_modal-sign-up-plan" tabindex="0" style="display: block;"><a class="dk_toggle" style="width: 100px;"><span class="dk_label">Team Size (Select One)</span></a><div class="dk_options"><ul class="dk_options_inner"><li class="dk_option_current "><a data-dk-dropdown-value="">Team Size (Select One)</a></li><li class=" "><a data-dk-dropdown-value="starter">1-15 Team Members</a></li><li class=" "><a data-dk-dropdown-value="pro">16-50 Team Members</a></li><li class=" "><a data-dk-dropdown-value="premium">51-150 Team Members</a></li><li class=" "><a data-dk-dropdown-value="max">150+ Team Members</a></li></ul></div><select id="modal-sign-up-plan" name="plan" class="js-first-class js-dropkick first-selected parsley-validated" data-required="true" data-required-message="Required">
    <option value="">Team Size (Select One)</option>
    <option value="starter">1-15 Team Members</option>
    <option value="pro">16-50 Team Members</option>
    <option value="premium">51-150 Team Members</option>
    <option value="max">150+ Team Members</option>
  </select></div>
  <p class="error hide"></p>
  <p class="right">By starting my 30 days of free DoneDone, I agree to the <a href="/terms/">Terms of Use</a> &amp; <a href="/privacy/">Privacy Policy</a>.</p>
  <button type="submit" class="button teal" data-loading="Signing Up…">Get Started</button>

  <input type="text" name="donedonedummy1" class="offscreen" autocomplete="off">
  <input type="text" name="donedonedummy2" class="offscreen" autocomplete="off">

  <div class="clear"></div>
</form>
</div>
<div id="masthead-sticky-wrapper" class="sticky-wrapper" style="height: 80px;"><header id="masthead" class="site-header" role="banner">
  <div class="row">
  <div class="large-12 columns">
      <div class="site-branding">
        <h1 class="site-title"><a href="https://www.getdonedone.com/" title="DoneDone" rel="home">DoneDone</a></h1>
        <h2 class="site-description">The simple and effective issue tracker</h2>
      </div>

      <nav id="site-navigation" class="main-navigation" role="navigation">
        <h1 class="menu-toggle js-toggle-mobile-nav">Menu</h1>
        <div class="screen-reader-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>

        <div class="menu-primary-menu-container"><ul id="menu-primary-menu" class="menu nav-menu"><li id="menu-item-2184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2184"><a href="https://www.getdonedone.com/features/">Features</a></li>
          <li id="menu-item-2185" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2102 current_page_item menu-item-2185"><a href="https://www.getdonedone.com/public-issues/">Public Issues</a></li>
          <li id="menu-item-2186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2186"><a href="https://www.getdonedone.com/plans-pricing/">Pricing</a></li>
          <li id="menu-item-2833" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2833"><a href="https://donedone.happyfox.com" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://donedone.happyfox.com', 'Docs');">Docs</a></li>
          <li id="menu-item-2187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2187"><a href="https://www.getdonedone.com/support/">Support</a></li>
          <li id="menu-item-2681" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2681"><a href="https://www.getdonedone.com/blog/">Blog</a></li>
        </ul></div>             <div class="menu-account-menu-container"><ul id="menu-account-menu" class="menu"><li id="menu-item-2188" class="js-toggle-modal menu-item menu-item-type-custom menu-item-object-custom menu-item-2188"><a href="#sign-in">Sign In</a></li>
        <li id="menu-item-2189" class="button orange js-toggle-modal js-toggle-signup menu-item menu-item-type-custom menu-item-object-custom menu-item-2189"><a href="#sign-up">Get it Now!</a></li>
      </ul></div>         </nav><!-- #site-navigation -->

    </div><!-- .large-12.columns -->
  </div><!-- .row -->
</header></div><!-- #masthead -->
