<div class="container-fluid startup-style wrapper">
    <div class="navbar">
        <a class="pull-left navbar-brand" href="#">GenLabs <span class="fa fa-bolt"></span></a>
        <ul class="nav navbar-nav pull-right">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Awards</a>
            </li>
        </ul>
    </div>
    <div class="text-center intro row">
        <div class="col-md-12">
            <small>Intro and stuff.</small>
            <h1>We are a startup.</h1>
            <p class="lead">We make big ideas happen. Simpson so close crying if you know what i mean forever alone strangers aww yeah avenger scared. Female easter male puking rainbows y u no cat feel like a sir friendzoned le me. <a href="#">Collection really?</a> On scumbag megusta architect mom peter griffin i dont get it wodka gag.
            </p>
            <p>
                <a href="#" class="btn btn-primary btn-lg"></span> Get to know us.</a>
            </p>
        </div>
    </div>
    <div class="row alternate">
        <div class="col-md-12 text-center">
            <small>Sint occaecat cupidatat non</small>
            <h2>Uiquip ex ea commodo <br> Excepteur sint occaecat.</h2>
            <p>
                Lorem sion ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                <span class="brandable-icon icon-xlarge fa fa-bolt"></span>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <small>Ididunt ut labore et</small>
        </div>
        <div class="col-md-4">
            <h3>Lorem Ipsum</h3>
            <ul>
                <li>
                    Duis dolor in in voluptate velit esse
                </li>
                <li>
                    Dolore eu fugiat nulla cepteur sint occaecat cupidatat non
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Laboris commodo</h3>
            <ul>
                <li>
                    tempor liqua. Ut enim ad minim veniam,
                </li>
                <li>
                    quis nostrud oris nisi ut aliquip ex ea commodo
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Minim veniam</h3>
            <ul>
                <li>
                    quis is nisi ut aliquip ex ea commodo
                </li>
                <li>
                    Excepteur sint occaecat cupidatat non
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center alternate">
        <div class="col-md-12">
            <small>So popular</small>
            <h2>Some of our customers, <br> and their words of praise.</h2>
            <p>
                Lount in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="well block">
                <div class="caption">
                    <img alt="" src="http://placekitten.com/g/120" class="thumbnail">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                    <small>Someone famous in <cite title="">Body of work</cite></small>
                </div>
            </div>
            <div class="well block">
                <div class="caption">
                    <img alt="" src="http://placekitten.com/g/121" class="thumbnail">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                    <small>Someone famous in <cite title="">Body of work</cite></small>
                </div>
            </div>
            <div class="well block">
                <div class="caption">
                    <img alt="" src="http://placekitten.com/g/122" class="thumbnail">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                    <small>Someone famous in <cite title="">Body of work</cite></small>
                </div>
            </div>
            <div class="well block">
                <div class="caption">
                    <img alt="" src="http://placekitten.com/g/123" class="thumbnail">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
                    <small>Someone famous in <cite title="">Body of work</cite></small>
                </div>
            </div>
        </div>
    </div>
    <div class="quadrants row text-center">
        <div class="col-md-6">
            <h2>
                <span class="fa fa-plug"></span>
            </h2>
            <h4>In culpa qui officia dese</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                <span class="fa fa-life-buoy"></span>
            </h2>
            <h4>Vroom exercitation ullamco lab</h4>
            <p>
                quis nostrud exercitation ullamco laboris nisi ut alccaecat cupidatat non culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="quadrants row text-center">
        <div class="col-md-6">
            <h2>
                <span class="fa fa-cubes"></span>
            </h2>
            <h4>Laboris nisi ut commodo</h4>
            <p>
                Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                <span class="fa fa-bullhorn"></span>
            </h2>
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commtat non
            </p>
        </div>
    </div>
    <div class="row alternate text-center">
        <div class="col-md-12">
            <small>3. Sint occaecat cupidatat non</small>
            <h2>Uiquip ex ea commodo <br> Excepteur sint occaecat.</h2>
            <p>
                Excepteur alpa qui officia deserunt mollit anim id est laborum.
            </p>
            <form class="form-group form-inline" id="main-form">
                <label>
                    <input type="text" class="form-control" placeholder="foobar">
                </label>
                <label>
                    <input type="text" class="form-control" placeholder="bim bam">
                </label>
                <label>
                    <input type="text" class="form-control" placeholder="baz quux">
                </label>
                <select name="" id="" class="form-control">
                    <option value="">foo</option>
                    <option value="">bar</option>
                    <option value="">bim</option>
                </select>
                <hr>

                <textarea cols="30" rows="5" class="form-control"></textarea>
                <button class="btn btn-md btn-lg">Let's do this</button>
            </form>
        </div>
    </div>
    <div class="row">
        <footer>
            <div class="row">
                <div class="col-md-4">
                    <h4>Some title</h4>
                    <ul>
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Awards</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Social media</h4>
                    <ul>
                        <li class="active">
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Contact us</h4>
                    <form action="" method="POST" class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="">name</label>
                            <input type="text" class="form-control" id="" placeholder="Input field">
                            <br>
                            <label class="sr-only" for="">email</label>
                            <input type="email" class="form-control" id="" placeholder="Input field">
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <small class="copyright">&copy; Copyright foo bar</small>
                </div>
            </div>
        </footer>
    </div>
</div>
