<div class="wrapper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <header><strong>header</strong> Defines a header for a document or section
                <nav>
                    <strong>nav</strong> Defines navigation links
                    <ul>
                        <li><a href="#">nav item</a></li>
                        <li><a href="#">nav item</a></li>
                        <li><a href="#">nav item</a></li>
                        <li><a href="#">nav item</a></li>
                    </ul>
                </nav>
            </header>

            <h1><strong>Defines HTML heading h1</strong></h1>
            <h2><strong>Defines HTML heading h2</strong></h2>
            <h3><strong>Defines HTML heading h3</strong></h3>
            <h4><strong>Defines HTML heading h4</strong></h4>
            <h5><strong>Defines HTML heading h5</strong></h5>
            <h6><strong>Defines HTML heading h6</strong></h6>

            <main>
                <strong>main</strong> Specifies the main content of a document
            </main>

            <a href="#"><strong>a</strong> Defines a hyperlink</a>

            <abbr><strong>abbr</strong> Defines an abbreviation</abbr>
            <address><strong>address</strong> Defines contact information for the author / owner of a document</address>

            <article><strong>article</strong> Defines an article</article>

            <aside><strong>aside</strong> Defines content aside from the page content</aside>

            <video><strong>video</strong> Defines a video or movie</video>
            <audio><strong>audio</strong> Defines sound content</audio>

            <b><strong>b</strong> Defines bold text</b>

            <bdi><strong>bdi</strong> Isolates a part of text that might be formatted in a different direction from other text outside it</bdi>
            <bdo><strong>bdo</strong> Overrides the current text direction</bdo>

            <blockquote>
                <strong>blockquote</strong> Defines a section that is quoted from another source
                <br>
                <cite><strong>cite</strong> Defines the title of a work</cite>
            </blockquote>

            <canvas><strong>canvas</strong> Used to draw graphics, on the fly, via scripting (usually JavaScript)</canvas>
            <caption><strong>caption</strong> Defines a table caption</caption>
            <code><strong>code</strong> Defines a piece of computer code</code>

            <col><strong>col</strong> Specifies column properties for each column within a colgroup element</col>
            <colgroup><strong>colgroup</strong> Specifies a group of one or more columns in a table for formatting</colgroup>

            <del><strong>del</strong> Defines text that has been deleted from a document</del>
            <details><strong>details</strong> Defines additional details that the user can view or hide</details>

            <dfn><strong>dfn</strong> Defines a definition term</dfn>

            <dialog>
                <strong>dialog</strong> Defines a dialog box or window
            </dialog>

            <dl>
                <dt><strong>dt</strong> Defines a term / name in a description list</dt>
                <dd><strong>dd</strong> Defines a description / value of a term in a description list</dd>
                <dt><strong>dt</strong> Defines a term / name in a description list</dt>
                <dd><strong>dd</strong> Defines a description / value of a term in a description list</dd>
            </dl>

            <em><strong>em</strong> Defines emphasized text</em>
            <embed><strong>embed</strong> Defines a container for an external (non-HTML) application</embed>

            <figure>
                <img><strong>img</strong> Defines an image</img>
                <strong>figure</strong> Specifies self-contained content
                <figcaption><strong>figcaption</strong> Defines a caption for a figure element</figcaption>
            </figure>

            <footer><strong>footer</strong> Defines a footer for a document or section</footer>
            <hr><strong>hr</strong>  Defines a thematic change in the content</hr>
            <i><strong>i</strong> Defines a part of text in an alternate voice or mood</i>
            <ins><strong>ins</strong> Defines a text that has been inserted into a document</ins>
            <kbd><strong>kbd</strong> Defines keyboard input</kbd>
            <link><strong>link</strong> Defines the relationship between a document and an external resource (most used to link to style sheets)</link>
            <map><strong>map</strong> Defines a client-side image-map</map>

            <mark><strong>mark</strong> Defines marked / highlighted text</mark>

            <meter><strong>meter</strong> Defines a scalar measurement within a known range (a gauge)</meter>
            <object><strong>object</strong> Defines an embedded object</object>

            <p><strong>p</strong> Defines a paragraph</p>
            <param><strong>param</strong> Defines a parameter for an object</param>
            <pre><strong>pre</strong> Defines pre-formatted text</pre>
            <progress><strong>progress</strong> Represents the progress of a task</progress>
            <q><strong>q</strong> Defines a short quotation</q>
            <rp><strong>rp</strong> Defines what to show in browsers that do not support ruby annotations</rp>
            <rt><strong>rt</strong> Defines an explanation / pronunciation of characters (for East Asian typography)</rt>
            <ruby><strong>ruby</strong> Defines a ruby annotation (for East Asian typography)</ruby>
            <s><strong>s</strong> Defines text that is no longer correct</s>
            <samp><strong>samp</strong> Defines sample output from a computer program</samp>
            <section><strong>section</strong> Defines a section in a document</section>
            <small><strong>small</strong> Defines smaller text</small>
            <source><strong>source</strong> Defines multiple media resources for media elements video and audio)</source>
            <span><strong>span</strong> Defines a section in a document</span>
            <strong><strong>strong</strong> Defines important text</strong>
            <sub><strong>sub</strong> Defines subscripted text</sub>
            <summary><strong>summary</strong> Defines a visible heading for a details element</summary>
            <sup><strong>sup</strong> Defines superscripted text</sup>

            <table>
                <thead>
                    <tr>
                        <th>Heading</th>
                    </tr>
                </thead>
                <tr>
                    <td><strong>table</strong> Defines a table</td>
                </tr>
                <tfoot>
                    <tr>
                        <th>Footing</th>
                    </tr>
                </tfoot>
            </table>

            <form action="">
                <strong>form</strong> Defines an HTML form for user input

                <fieldset>
                    <legend><strong>legend</strong> Defines a caption for a fieldset element</legend>
                    <strong>fieldset</strong> Groups related elements in a form
                    <input><strong>input</strong> Defines an input control</input>
                    <textarea><strong>textarea</strong> Defines a multi-line input control (text area)</textarea>
                </fieldset>

                <keygen><strong>keygen</strong> Defines a key-pair generator field (for forms)</keygen>
                <label><strong>label</strong> Defines a label for an input element</label>

                <menu>
                    <strong>menu</strong> Defines a list / menu of commands
                    <command><strong>command</strong> Defines a command button that a user can invoke</command>
                    <command><strong>command</strong> Defines a command button that a user can invoke</command>
                </menu>

                <datalist>
                    <strong>datalist</strong> Specifies a list of pre-defined options for input controls
                </datalist>

                <select>
                    <optgroup>
                        <option>Defines an option in a drop-down list</option>
                        <option>Defines an option in a drop-down list</option>
                    </optgroup>
                    <optgroup>
                        <option>Defines an option in a drop-down list</option>
                        <option>Defines an option in a drop-down list</option>
                    </optgroup>
                </select>

                <button><strong>button</strong> Defines a clickable button</button>
            </form>

            <time><strong>time</strong> Defines a date / time</time>
            <track><strong>track</strong> Defines text tracks for media elements video and audio</track>

            <u><strong>u</strong> Defines text that should be stylistically different from normal text</u>

            <var><strong>var</strong> Defines a variable</var>
            <var>2 + 2 = <output><strong>output</strong> Defines the result of a calculation</output></var>

            <wbr><strong>Wbr</strong> Defines a possible line-break</wbr>
        </div>
    </div>
    <div class="row alternate">
        <div class="col-md-12">
            <ol>
                <li><strong>li</strong> Defines a list item</li>
                <li><strong>li</strong> Defines a list item</li>
                <li><strong>li</strong> Defines a list item</li>
                <li><strong>li</strong> Defines a list item</li>
            </ol>
            <ul>
                <li><strong>li</strong> Defines a list item</li>
                <li><strong>li</strong> Defines a list item</li>
                <li><strong>li</strong> Defines a list item</li>
                <li><strong>li</strong> Defines a list item</li>
            </ul>
        </div>
    </div>
</div>
